.tabButton {
  padding: 20px 20px;
  background-color: #000;
  border: none;
  font-size: 18px;
  position: relative;
  /* overflow: hidden; */
  transition: 500ms;
}

.tabButton span {
  color: gray;
  position: relative;
  transition: 500ms;
  transition-delay: 500ms;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.tabButton:before {
  content: '';
  position: absolute;
  width: 0%;
  height: 0%;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  transition: 500ms;
  transition-delay: 500ms;
  background-color: #6a0dad;
  box-shadow: 0 0 10px #6a0dad,
   0 0 30px #6a0dad, 
   0 0 50px #6a0dad;
}

.tabButton div {
  transition: 500ms;
  position: absolute;
  background-color: #6a0dad;
  box-shadow: 0 0 15px #6a0dad, 0 0 30px #6a0dad, 0 0 50px #6a0dad;
}

.tabButton .top {
  width: 15px;
  height: 2px;
  top: 0;
  left: 0;
}

.tabButton .bottom {
  width: 15px;
  height: 2px;
  bottom: 0;
  right: 0;
}

.tabButton .left {
  width: 2px;
  height: 15px;
  top: 0;
  left: 0;
}

.tabButton .right {
  width: 2px;
  height: 15px;
  bottom: 0;
  right: 0;
}

.tabButton:hover {
  color: #000;
}

.tabButton:hover span {
  color: #000;
}

.tabButton:hover:before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.tabButton:hover .top, 
.tabButton:hover .bottom {
  width: 100%;
}

.tabButton:hover .left,
.tabButton:hover .right {
  height: 100%;
}

.tabButton.active {
  color: #fff;
  background-color: #6a0dad;
}

.tabButton.active span {
  color: #fff;
}

.tabButton.active:before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6a0dad;
  box-shadow: 0 0 10px #6a0dad, 0 0 30px #6a0dad, 0 0 50px #6a0dad;
}